<!DOCTYPE html>
<html lang="en">
<head>
    <title>Naver Article Crawling</title>
    <style>
        div {
            width: 400px;
            border: 1px solid green;
            padding: 10px;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <div>
         <nav>
             <a href = "/help">[help]</a>
             <a href = "/">[home]</a>
             <a href = "/login">[login]</a>
        </nav>

    </div>

    <div>
        <h3>Crawling Data</h3>
        {% if context %}
            {% for item in context %}
                {{ item }}
                <hr>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>