<!DOCTYPE html>
<html lang="ko">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Schedule</title>
</head>
<body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- 배너 영역 -->
    <div class="container-fluid bg-custom py-3">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center position-relative">
                    <h1 class="hawkai-text"> Hawk AI </h1><br>
                    <img src="{{ url_for('static', filename='istockphoto-1282555139-1024x1024.jpg') }}" alt="Title Image" class="title-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- 네비게이션 바 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('upload_filePushUp') }}">Pushup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('upload_fileSquart') }}">Squat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('face_emotion') }}">새벽 기상</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('diary') }}">감정 일기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('meal') }}">식단 관리</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
     <div class="container"><br>
        <h1>새벽 기상</h1>

        <form action="{{ url_for('face_emotion') }}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="FaceEntry">이미지 업로드</label>
                <input type="file" class="form-control" name="FaceEntry" id="FaceEntry" accept="image/*" required>
            </div>
            <button type="submit" class="btn btn-primary mt-3">얼굴 인식</button>

        </form>
         <!-- Detected Image -->
        <br><br>
         {% if emotion %}
         <div class="row mb-3">
             <div class="col-md-3">
                 <h2 style="text-align: center;">얼굴 이미지</h2>
                 <img src="{{ url_for('get_detected_faceimage') }}" alt="인식된 얼굴" class="face-image">
             </div>
             <div class="col-md-9 recognition-container">
                 <br><br>
                 <div style="text-align: center; background-color: #f0f0f0; border-radius: 10px; padding: 15px;">
                    <h2 style="display: inline-block;"> 감정 : </h2>
                    <h2 style="display: inline-block; margin-left: 10px; text-decoration: underline; color: red;"> {{ emotion }} </h2>
                     <p id="currentDate">업로드 날짜: </p>
                 </div>
             <div class="recognition-container">
                 <br><br>
                 <div style="text-align: center; background-color: #f0f0f0; border-radius: 10px; padding: 15px;">
                     <h2 style="text-align: center; color: black;"> 오늘의 명언</h2>
                     <h3>
                        게으른 자여 네가 어느 때까지 누워 있겠느냐<br>
                        네가 어느 때에 잠이 깨어 일어나겠느냐<br>
                        좀더 자자, 좀더 졸자,손을 모으고 좀더 누워 있자 하면<br>
                        네 빈궁이 강도 같이 오며, 네 곤핍이 군사 같이 이르리라<br>
                        - 잠언 6장 9절 ~ 11절 -
                    </h3>
                 </div>
             </div>
             </div>
         </div>
         {% endif %}
     </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        // 현재 날짜를 표시하는 함수
        function displayCurrentDate() {
            var currentDateElement = document.getElementById('currentDate');
            var currentDate = new Date().toLocaleDateString('ko-KR');
            currentDateElement.textContent += currentDate;
        }

        // 페이지 로드 후 날짜 표시
        window.onload = function() {
            displayCurrentDate();
        };
    </script>
</body>
</html>